Django==4.2.7
Pillow==10.1.0
python-decouple==3.8
django-crispy-forms==2.0
crispy-bootstrap5==0.7
django-filter==23.3
gunicorn==21.2.0
pandas
openpyxl
xlsxwriter
reportlab
whitenoise==6.6.0
channels==4.0.0
channels-redis==4.1.0